.h-100vh{
    height: 100vh !important;
}

/* Start notifications */
.top-text-block {
    display: block;
    padding: 3px 20px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: inherit !important;
    border-bottom: 1px solid #f4f4f4;
    position: relative;
}
.top-text-block:hover:before {
    content: '';
    width: 4px;
    background: #f05a1a;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.top-text-block.unread {
    background: #ffc;
}
.top-text-block .top-text-light {
    color: #999;
    font-size: 0.8em;
}
.top-head-dropdown li:last-child .top-text-block {
    border-bottom: 0;
}
.notifications {
    width: 70vw !important;
    max-width: 400px
}
/* End notifications */

 .card-facilitador{
    width: 100%;
}